* {  
    margin: 0;  
    padding: 0;  
    box-sizing: border-box;  
}  

body {  
    font-family: Arial, sans-serif;  
    line-height: 1.6;  
    background-color: #f9f9f9;  
    color: #333;   
    padding: 20px;  
}  


 
header {  
    text-align: center;  
    margin-bottom: 40px;  
}  

h1 {  
    font-size: 2.5em;  
    color: #2c3e50; 
}  

h2 {  
    font-size: 1.5em;  
    color: #57ab91;   
}  

img {  
    width: 150px;   
    height: auto; 
    border-radius: 50%;   
    margin-top: 15px; 
    box-shadow: 5px 5px 10px 2px rgba(131, 145, 144, 0.5); 
}  

  
section {  
    width: 50%;
    background: rgb(239, 253, 253); 
    padding: 20px ;  
    margin: auto;  
    border-radius: 8px;   
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);   
   
}  


h3 {  
    margin-bottom: 10px;  
    color: #2c3e50;  
}  

 
ul {  
    list-style-type: disc; 
    margin-left: 20px;  
}  

  
blockquote {  
    font-style: italic; 
    border-left: 4px solid #748361;   
    padding-left: 20px;  
    margin: 10px 0;  
}  

 
a {  
    color: #acdacb;  
    text-decoration: none;  
}  

a:hover {  
    text-decoration: underline;  
    color: #2c3e50;   
}  

 
footer {  
    text-align: center;  
    margin-top: 40px;  
    font-size: 0.9em;  
}  

footer p {  
    margin: 5px 0;   
}  

/* Responsive */  
@media (max-width: 600px) {  
    h1 {  
        font-size: 2em; 
    }  

    h2 {  
        font-size: 1.25em; 
    }  

    img {  
        width: 120px;   
    }  
}  